<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar">
        <a :href="github.url" target="_blank" class="source-code source-code-text">Source Code</a>
      </div>
      <div class="cart">
        <p>Cart: {{ product.cart }}</p>
        <button
          class="button"
          :class="{ disabledButton: !product.inStock }"
          @click="addToCart"
          :disabled="!product.inStock">
          Add to cart
        </button>
        <button
          class="button"
          :class="{ disabledButton: !product.inStock }"
          @click="removeFromCart"
          :disabled="!product.inStock">
          Remove from cart
        </button>
      </div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img
              :class="{ outOfStockImg: !product.inStock }"
              :src="product.image"
              :alt="product.description">
          </div>
          <div class="product-info">
            <p v-show="product.onSale" class="on-sale on-sale-labal">On Sale Now!</p>
            <h1>{{ product.name }}</h1>
            <p class="item">Description: {{ product.description }}</p>
            <ul class="item">
              <li>Ingredients:</li>
              <li v-for="ingredient in product.ingredients">{{ ingredient }}</li>
            </ul>
            <ul class="item">
              <li>Sizes:</li>
              <li v-for="size in product.sizes">{{ size }}</li>
            </ul>
            <p class="item">Price: {{ product.price }}</p>
            <ul class="item">
              <li>Ingredients:</li>
              <li v-for="ingredient in product.ingredients">{{ ingredient }}</li>
            </ul>
            <ul class="item">
              <li>Colour:</li>
              <li
                v-for="variant in product.variants"
                :key="variant.id"
                @mouseover="updateImage(variant.image)"
                class="color-circle"
                :style="{ backgroundColor: variant.color }">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
